
/* Focused on mission 2022 section styling start*/
body{
    font-family: 'Poppins', sans-serif;
}
span{
    color: mediumvioletred;
}
.focoused_main{
    display: flex;
    padding: 20px 100px 10px 100px;
}
.focused_header{
    width: 50%;
    padding: 20px;
}
.focused_header p{
    text-align: justify;
}
.focused_header h1{
    font-size: 60px;
    border-left:5px solid maroon ;
 
    
}
.Botton{
    text-decoration: none;
    background-color: maroon;
    color: white;
    border-radius: 10px;
    padding: 10px;
}
.focused_header img{
    width: 50%; 
    padding-left: 200px;
}
/* Focused on mission 2022 section styling end*/
/*My mission Section Start for styling */
.mission_section{
    padding-left: 50px;
    padding-right:50px;
    
}

#missionid{
    text-align: center;
    font-size: 50px;
    font-weight: 900;
}
.my_mission{
    display: flex;
    padding: 10px 100px; 
}
.mission{ 
    margin: 5px; 
    width: 33.33%;
}
.mission p{
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
    text-indent: 50px;
}
.img{
    width: 50%;
}

.missioncolor_mission{
    background-color: rgb(230, 173, 195);
    border-radius: 10px;
}
.missioncolor_vission{
    background-color: rgb(173, 230, 206);
    border-radius: 10px;
}
.missioncolor_Goals{
    background-color: rgba(112, 139, 13);
    border-radius: 10px; 
}
/*My mission Section End for styling */
/*Develop_without_limit section styling Start */
.Limit{
    width: 100%;
    background-image: url(images/shapes/dream-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    
}
.Develop_without_limit{
    display: flex;
    padding: 10px 100px;
    
}
.Develop_style{
    width: 50%;
    padding: 20px;
}
.Develop_style h1{
    font-size: 50px;
    font-weight: bold;
}

.Develop_style img{
    width: 100%;
}
/*Develop_without_limit section styling End */
#recent_project_section{
    
}
.RECENT_PROJECTS{
    display: flex;
    width: 100%;
}
.myproject{
    width: 50%;
    padding: 50px 100px;
}
.myproject p{
    text-align: justify;
}